.errorPage{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
